/*----some cool fonts----------*/
@font-face{
    font-family: "Aclonica-Regular";
    src: url("./fonts/Aclonica-Regula.ttf") format("woff2");
}
@font-face{
    font-family: "Comfortaa-Light";
    src: url("./fonts/Comfortaa-Light.ttf") format("woff2");
}
@font-face{
    font-family: "Poppins ExtraLight";
    src: url("./fonts/Poppins-ExtraLight.ttf") format("woff2");
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*----------------------------Common styling-----------------*/
:root{
    --main-bg-color: #000000;
    --white-color: #fff;
    --orange-color:orange;
}
body{
     background-color: var(--main-bg-color);
    color: var(--white-color);
    
    font-family: "Poppins Extra Light";
}
/**{
    cursor:none;
}
*/
canvas{
    display:block;
    
}
.progress-container{
    position: fixed;
    top:0;
    width:100%;
    height:5px;
    background: transparent;
    z-index: 1;
}
.progress-bar{
    height:5px;
    background:orange;
    width:0%;
}
#particle-js {
    width:100vw;
    height: 100vh;
    background-color:black;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: table-cell;
    vertical-align: middle;
}
#particle-js .main-page {
  text-align: center;
}

.cursor-dot-outline,
.cursor-dot{
    pointer-events: none;
    position: absolute;
    top:50%;
    left:50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 1000;

}

.cursor-dot{
    width:8px;
    height:8px;
    background-color:orangered;
}
.cursor-dot-outline {
    width: 20px;
    height: 20px;
    background-color: rgba(229, 128, 128, 0.5);
}


/*-----------------Some general effects-------------*/
.heading-with-effect-text-center h1{
    font-size: 100px;
    color:rgba(204,203,203,0.26);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: -10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.heading-with-effect-text-center span{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color:rgba(248,248,248,0.849);
}
@media (max-width:850px){
    .heading-with-effect-text-center h1{
        font-size: 54px;
    }
    .heading-with-effect-text-center span{
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        color:rgba(248,248,248,0.849);
    }
}
#socialnav{
    position: fixed;
    left:0px;
    bottom:0px;
    transition: 0.5s all ease-in;
}
#socialnav ul{
    list-style: none;
    padding-left: 0 !important;
}
#socialnav ul:after{
  content: "";
  background-color:orange;
  position: absolute;
  width: 2px;
  height: 150%;
  top: -60px;
  display: block;
}
#socialnav li {
  margin: 30px;
  margin-left: 0px;
  margin-bottom: 35px;
}
#socialnav li:nth-last-child(n) {
  margin-bottom: -2px;
}
#socialnav a {
  color: orange;
  padding: 13px;
  border: 1px solid orange;
  transition: 0.5s all ease-in;
}
#socialnav .fa-facebook {
  padding-right: 4.5px !important;
}
#socialnav .fa-envelope{
  font-size: 16px !important;
}
#socialnav a:hover {
  background-color: orange;
  border: 1px solid orange;
  color: var(--white-color);
}
#socialnav i {
  font-size: 20px;

}

@media (max-width: 850px) {
  #socialnav {
    margin-bottom: 10px !important;
  }
  #socialnav ul:after {
    top: -10px;
  }
  #socialnav .fa-facebook {
    padding-right: 4.5px !important;
  }
  #socialnav a {
    padding: 4px;
  }
  #socialnav i {
    font-size: 15px;
  }
  #socialnav li {
    margin: 13px;
    margin-left: 0;
  }
  #socialnav .fa-envelope{
    font-size: 12px !important;
  }
}
/*--------------landing page------------------*/
.main-page{
    position: absolute;
    text-align: center;
    color:orange;
    top:50%;
    left:50%;
    transform:translate(-50% ,-50%);
    font-family: "Comfortaa";
}
.main-page h1:nth-child(1){
    font-family: "Comfortaa";
    margin-bottom: -10px;
}
.main-page h1:nth-child(2){
  font-family: 'Aclonica', sans-serif;
    font-size: 70px;
}

.main-page a{
    color:orange;
    padding:13px;
    border:1px solid orange ;
    transition: 0.5s all ease-in;
}
.main-page a:hover{
    background-color: orange;
    border:1px solid orange;
    color:var(--white-color);
}
.main-page i{
    font-size: 20px;
}
@media(max-width:850px){
    .main-page h1:nth-child(1) {
        font-size: 20px;
        margin-bottom: -5px;
    }
      .main-page h1:nth-child(2) {
        font-size: 37px;
      }
      .main-page i {
        font-size: 16px;
      }
      .main-page a {
        padding: 8px;
      }
}   
.container{
    height:900px;
    word-wrap: break-word;
}

#aboutme,
#skills,
#projects,
#contact{
    margin-top: 140px;
    margin-bottom: 140px;
    text-align: center;
}

/*----------------About Me---------------*/
.about-content-part{
    margin-top:80px;
    font-size: 20px;
}
.somepaddingfromright {
  padding-right: 140px;
  text-align: center;
}
.orange{
    color:orange;
    font-weight: 700;
    transition: all 0.5s ease-in;
}
.payalimg{
    margin-top: 80px;
  width: 350px;
  opacity: 1;
  border: 10px solid rgba(226, 76, 0, 0.35);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 30px;

}
@media (max-width: 850px) {
    .somepaddingfromright {
      padding-left: 20px;
      padding-right: 20px;
    }
    .payalimg {
      display: none;
    }
}
/*--------end of abous me------------*/

/*---------------Skills----------*/
.skills-text-center{
    border:1px solid orange;
    padding:30px;
    margin-top:130px;
    margin-bottom: 0px;
    transition: 0.5s all ease-in;
    background-image: linear-gradient(to top,orange 50%,transparent 50%);
    background-size: 100% 180%;
    background-position: top;
    text-align: center;
}


.skills-text-center:hover{
    background-size: 100% 180%;
    background-position: bottom;
    color:#000 !important;
}
.skills-text-center:hover h1{
   
    font-size: 30px;
    border-bottom: 1px solid var(--white-color);
}
.skills-text-center:hover .orange{
    color:#ccc !important;
}

.skills-text-center i{
    font-size: 40px;
    text-align: center;
}
.skills-text-center h1{
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid orange;
    margin-bottom: 7px;
    font-weight: bolder;
    transition: all 0.5s ease-in;
}
.skills-text-center p{
    text-align: center;
    color:var(--white-color);
}
.skills-text-center-full{
    margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  margin-left: -15px;
}
.skills-text-center-full p{
  
  color:var(--white-color);
}
.skills-text-center-full i{
  font-size: 40px;
  
}

.skills-text-center-full{
  border:1px solid orange;
  padding:30px;
  margin-top:30px;
  margin-bottom: 0px;
  transition: 0.5s all ease-in;
  background-image: linear-gradient(to top,orange 50%,transparent 50%);
  background-size: 100% 180%;
  background-position: top;
  text-align: center;
  
}
.skills-text-center-full h1{
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid orange;
  margin-bottom: 7px;
  font-weight: bolder;
  transition: all 0.5s ease-in;
}
.skills-text-center-full:hover .orange{
  color:#ccc !important;
}
.skills-text-center-full:hover{
  background-size: 100% 180%;
  background-position: bottom;
  color:#000 !important;
}
.skills-text-center-full:hover h1{
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid var(--white-color);
}
@media(max-width:850px){
    .skills-text-center{
        margin:30px;
    }
    .skills-text-center-full{
        width:93%;
        margin:30px;
        margin-left: 10px;

    }
}

/*--------Projects--------------*/
#projects .heading-with-effect-text-center{
    margin-bottom: 100px;
    text-align: center;







}

/*---------Contact Us--------*/
#contact{
    margin-bottom: 160px;
    margin-top: 100px;
    color:orange;
}
#contact .text-center{
  width: auto;

}
#contact .heading-with-effect-text-center{
  text-align: center;
}
#contact form input,
#contact form textarea {
  margin: 10px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid orange;
  outline: none;
  box-shadow: none;
  color: white;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fff;
  transition: 0.17s ease-in all;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #fc9866;
}

#contact form input :focus,
#contact form textarea :focus,
#contact form input :active,
#contact form textarea :active {
  outline: none;
  box-shadow: none;
}
#contact form button {
  background: none;
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
  transition: 0.5s all ease-in;
  width: 200px;
}
#contact form button:hover {
    border: 1px solid var(--orange-color);
    color: var(--white-color);
    background-color: var(--orange-color);
  }
  @media (max-width: 850px) {
    form {
      margin-right: 30px;
      margin-left: 30px;
    }
    #contact {
      margin-top: 200px;
    }
  }
